<form name="register" id="register" class="reg_items" action="/" method="post"> {% csrf_token %}
            <input type="text" placeholder="Username" class="user" name="username" required>
            <input type="text" placeholder="First Name" class="user" name="fname" required>
            <input type="text" placeholder="Last Name" class="user" name="lname" required>
            <input type="email" placeholder="email" class="user" name="email" required>
            <input type="text" placeholder="USN or SSN" class="user" name="serial" required>
            <input type="password" placeholder="Password" class="user" name="pwd" minlength="7" maxlength="20" required>
            <input type="password" placeholder="Confirm Password" class="user" name="pwd" minlength="7" maxlength="20" required>

            <div class="formality flex">
            <label class="switch">
                <input type="checkbox" name="role" id="role">
                <span class="slider"></span>
            </label>
            <label for="role" class="rem">Register as Lecturer</label>
            </div>

            <button type="submit" class="btn">CREATE</button>
            <button type="reset" class="btn">CLEAR</button>
        </form>