<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSS</title>

    {% load static %}
    <link rel="stylesheet" href="{%static '/style/login.css' %}">
</head>

<body>
    <div id="outline" class="flex">
        <div class="box flex">
            <form name="log_in" class="items" action="/home/" method="post"> {% csrf_token %}
            <input type="text" placeholder="USN" class="user" name="usn" required>
            <input type="password" placeholder="Password" class="pass" name="pwd" minlength="7" maxlength="20" required>

            <div class="formality flex">
            <label class="switch">
                <input type="checkbox" name="role" id="role">
                <span class="slider"></span>
            </label>
            <label for="role" class="rem">Lecturer Login</label>
            <a href="accounts/register" class="forg">New Student?<br> Register here</a>
        </div>

            <button type="submit" class="btn">LOGIN</button>
            <button type="reset" class="btn">CLEAR</button>
        </form>
        </div>
    </div>
</body>

</html>