<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/style/S_attend.css' %}">


    <title>CAAT</title>
</head>
<body>
<script>
    var p2=localStorage.getItem("id");
    function hide_it()
    {
        var div=document.getElementById('mess');
        div.style.display='none';
    }

</script>
    <div class="nav flex">
        <a>College Attendance And AICTE Points Tracker</a>
        <a>{{ name }}</a>
    </div>

    <!-- Content -->
    <div class="content flex">
        <div class="side flex">
            <button class="nav_btn on" onclick="location.href='/home/Teacher/ATTENDANCE/'" type="button">Attendance</button>
            <button class="nav_btn" onclick="location.href='/home/Teacher/AICTE/'" type="button">AICTE</button>
            <button class="nav_btn" onclick="location.href='/'" type="button">Log Out</button>

        </div>

        <div class="main">
            <div class="minhead flex"><h4>ATTENDANCE</h4></div>
            {% if messages %}
            <div class="flex" id="mess">
            {% for message in messages %}
                <strong>{{ message }}</strong>
                <button id="x" onclick="hide_it()">X</button>
        {% endfor %}
            </div>
            {% endif %}
            <table class="tab">
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Class</th>
                    <th>Attendance</th>
                </tr>
                {% for i in b %}
                <tr>
                    <td>{{ i.s_code }}</td>
                    <td>{{ i.s_name }}</td>
                    <td>{{ i.dept }} -{{ i.sem }}{{ i.sec }}</td>
                    <td>
                        <button class="btn" style="background-color: #198754;border-color: #198754"
                        onclick="location.href='/home/Teacher/ATTENDANCE/enter/{{ i.s_code }}/{{ i.dept }}/{{ i.sem }}/{{ i.sec }}'" type="button">
                            Today's Attendance
                        </button>
                        <button class="btn" style="background-color: #0d6efd;border-color: #0d6efd"
                        onclick="location.href='/home/Teacher/ATTENDANCE/view/{{ i.s_code }}/{{ i.dept }}/{{ i.sem }}/{{ i.sec }}'" type="button">
                            View Attendance
                        </button>
                        <button class="btn"style="background-color: #dc3545;border-color: #dc3545"
                        onclick="location.href='/home/Teacher/ATTENDANCE/edit/{{ i.s_code }}/{{ i.dept }}/{{ i.sem }}/{{ i.sec }}'" type="button">
                            Edit Attendance
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>