<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/style/S_attend.css' %}">


    <title>CAAT</title>
</head>
<body>
<script>
    var p2=localStorage.getItem("id");
    console.log(p2);
</script>
    <div class="nav flex">
        <a>College Attendance And AICTE Points Tracker</a>
        <a>{{ name }}</a>
    </div>
    <!-- Content -->
    <div class="content flex">
        <div class="side flex">
            <button class="nav_btn on" onclick="location.href='/home/Teacher/ATTENDANCE/'" type="button">Attendance</button>
            <button class="nav_btn" onclick="location.href='/home/Teacher/AICTE/'" type="button">AICTE</button>

            <button class="nav_btn" onclick="location.href='/home/logout'" type="button">Log Out</button>
        </div>

        <div class="main">
            <div class="minhead flex"><h4>ATTENDANCE  {{ s_name }} : {{ dept }}-{{ sem }}{{ sec }}</h4></div>
            <table class="tab">
                <tr>
                    <th>Usn</th>
                    <th>Name</th>
                    <th>Attended Classes</th>
                    <th>Total Classes</th>
                    <th>Attendance %</th>
                </tr>
                {% for i in b %}
                <tr>
                    <td>{{ i.Usn }}</td>
                    <td>{{ i.Name }}</td>
                    <td>{{ i.ac }}</td>
                    <td>{{ i.tc }}</td>
                    <td style="background-color: {{ i.col}}; color:white"><a href="#">{{ i.ap }}%</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>